
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <!-- manter esta ordem de referências -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/style.css" rel="stylesheet">
    <link type="text/css" href="~/Content/login.css" rel="stylesheet">
</head>
<body>
    <div class="colored container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <span>
                    <img src="~/Content/Images/logo.png" alt="Landix Icon">
                </span>
                <span id="span-titulo">
                    <h2>Oitavo Exercício!!!</h2>
                </span>
            </div>
        </div>

        <div class="row">
            <form class="col-md-6 col-md-offset-3" id="frm-login" novalidate>
                <div class="form-group">
                    <label for="username" class="control-label">Usuário</label>
                    <input class="form-control" id="username" type="email" placeholder="Email" minlength="3" maxlength="50"
                           required>
                    <div class="error-feedback" id="msgusername"></div>
                </div>
                <div class="form-group">
                    <label for="pswd" class="control-label">Senha</label>
                    <input class="form-control" id="pswd" type="password" placeholder="Senha" minlength="6" maxlength="15"
                           required>
                    <div class="error-feedback" id="msgpswd"></div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button class="btn btn-outline-dark btn-md" type="submit">Entrar</button>
                    </div>
                </div>
                <div class="row" id="alertMsg">
                    <div class="alert alert-danger hide" id="message1"> </div>
                </div>
            </form>
        </div>
    </div>
    <!-- jquery sempre antes do bootstrap -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
